<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button
          id="mobile-menu-btn"
          type="button"
          class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="block h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <svg
            class="hidden h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div
        class="flex w-full sm:items-stretch flex-1 items-center sm:justify-between justify-center"
      >
        <div class="flex flex-shrink-0 items-center">
          <svg
            width="200"
            height="200"
            class="block h-8 w-auto lg:hidden"
            viewBox="0 0 200 200"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M59 33H167L133 51H25L59 33Z" fill="#887878" />
            <path d="M59 140H167L133 158H25L59 140Z" fill="#887878" />
            <path d="M25 51L59 33V140L25 158V51Z" fill="#FFE8E8" />
            <path d="M133 51L167 33V140L133 158V51Z" fill="#887878" />
            <path d="M68 42H176L142 60H34L68 42Z" fill="#887878" />
            <path d="M34 60L68 42V149L34 167V60Z" fill="#FFE8E8" />
            <path d="M142 60L176 42V149L142 167V60Z" fill="#887878" />
            <path d="M68 149H176L142 167H34L68 149Z" fill="#3E3737" />
            <rect x="94" y="82" width="5" height="27" rx="2.5" fill="#5E5353" />
            <rect
              x="108"
              y="96"
              width="5"
              height="27"
              rx="2.5"
              fill="#5E5353"
            />
          </svg>

          <svg
            width="200"
            height="200"
            class="hidden h-8 w-auto lg:block"
            viewBox="0 0 200 200"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M59 33H167L133 51H25L59 33Z" fill="#887878" />
            <path d="M59 140H167L133 158H25L59 140Z" fill="#887878" />
            <path d="M25 51L59 33V140L25 158V51Z" fill="#FFE8E8" />
            <path d="M133 51L167 33V140L133 158V51Z" fill="#887878" />
            <path d="M68 42H176L142 60H34L68 42Z" fill="#887878" />
            <path d="M34 60L68 42V149L34 167V60Z" fill="#FFE8E8" />
            <path d="M142 60L176 42V149L142 167V60Z" fill="#887878" />
            <path d="M68 149H176L142 167H34L68 149Z" fill="#3E3737" />
            <rect x="94" y="82" width="5" height="27" rx="2.5" fill="#5E5353" />
            <rect
              x="108"
              y="96"
              width="5"
              height="27"
              rx="2.5"
              fill="#5E5353"
            />
          </svg>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a
              href="#"
              id="btn-masuk"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Masuk</a
            >
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      ></div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div
    class="sm:hidden hidden transition ease-out duration-100"
    id="mobile-menu"
  >
    <div class="space-y-1 px-2 pt-2 pb-3">
      <a
        href="#"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        >Masuk</a
      >
    </div>
  </div>
</nav>
